.DS_STORE

# Virtualenv related
env

# python related
__pycache__/


# VSCode related
__pycache__/

# exclusion files
pass_tw.py
pass_tw_2.py
*.json
hidecode.tplx



# OLD
old/
.ipynb_checkpoints
_old_json
